body{
	background-image: url("field.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
}

h1{
	font-family: 'Arial Black', Gadget, sans-serif;
	font-size: 72px;
	color: rgb(128, 128, 128);
}

.carousel-inner img {
	margin: auto;
}

.carousel-inner h2 {
	color: white;
	text-shadow: 2px 2px 4px #000000;
}

.carousel-inner p{
	color: white;
	text-shadow: 2px 2px 4px #000000;
}
